@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --blue-100: rgba(219, 178, 255, 1);
  --blue-300: rgba(152, 94, 255, 1);
  --blue-400: rgba(127, 57, 251, 1);
  --blue-tintblue-tint: rgba(83, 212, 216, 1);
  --body-font-family: "Inter", Helvetica;
  --body-font-size: 16px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-letter-spacing: -0.30399999618530277px;
  --body-line-height: 26px;
  --h2-font-family: "Urbanist", Helvetica;
  --h2-font-size: 80px;
  --h2-font-style: normal;
  --h2-font-weight: 500;
  --h2-letter-spacing: -0.8px;
  --h2-line-height: 80px;
  --neutralsdark: rgba(30, 34, 21, 1);
  --neutralswhite: rgba(255, 255, 255, 1);
  --sub-title-top-font-family: "Inter", Helvetica;
  --sub-title-top-font-size: 30px;
  --sub-title-top-font-style: normal;
  --sub-title-top-font-weight: 300;
  --sub-title-top-letter-spacing: 4.830000114440917px;
  --sub-title-top-line-height: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
